@font-face { font-family: Road Rage;
src: url('ROAD_RAGE.OTF'); }
h1 {
  font-family: Road Rage;
  text-align: center;
  color: #00d9a3;
  font-size: 60px;
  }

@font-face { font-family: Raleway;
src: url('RAILWAY THIN.TTF'); }
h2 {
  font-family: Raleway;
  text-align: center;
}
div.navigation-bar {
  background-color: #5D6D7E;
  height: 4em;
}
div.first-background {
  background-image: url("http://3.bp.blogspot.com/-CSz6d4tvM7U/U_Rw8S81KZI/AAAAAAAAkWU/YlkpHak8n2k/s1600/Screen%2BShot%2B2014-08-20%2Bat%2B5.54.47%2BAM.png");
  margin: 0;
}
div.bio {
  background-image: url("http://static.vecteezy.com/system/resources/previews/000/093/716/original/grey-marble-texture-background-vector-free.jpg");
  height: 600px;
  margin: 0;
}

body {
  margin: 0;
}
.strokeme {
  color: black;
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}
.img-circle {
  border-radius: 50%;
}
