@font-face { font-family: Road Rage;
src: url('ROAD_RAGE.OTF'); }
h1 {
  font-family: Road Rage;
  text-align: center;
  color: #00d9a3;
  font-size: 60px;
  }

@font-face { font-family: Raleway;
src: url('RAILWAY THIN.TTF'); }
h2 {
  font-family: Raleway;
  text-align: center;
  color: white;
  margin: 0;
}
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #ABB2B9;
}
li {
  display: inline;
  font-family: Raleway;
}
div.first-background {
  background-image: url("http://3.bp.blogspot.com/-CSz6d4tvM7U/U_Rw8S81KZI/AAAAAAAAkWU/YlkpHak8n2k/s1600/Screen%2BShot%2B2014-08-20%2Bat%2B5.54.47%2BAM.png");
  margin: 0;
  padding: 100px 0;
}
div.bio {
  background-image: url("http://static.vecteezy.com/system/resources/previews/000/093/716/original/grey-marble-texture-background-vector-free.jpg");
  margin: 0;
  padding: 100px 0;
}
p.bio-text {
  padding: 2em 10em 2em 10em;
  margin: 0;

}
div.resume {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/6f/b9/86/6fb9863626801cbd61aa474503be909c.jpg");
  margin: 0;
  padding: 100px 0;
}
p.resume-text {
  padding: 2em 10em 2em 10em;
  margin: 0;
}
div.social-media {
  background-image: url("http://bgfons.com/upload/marble_texture1803.jpg");
  margin: 0;
}
.id {
  padding: 2em 10em 2em 10em;
  margin: 0;
}

body {
  margin: 0;
}
.strokeme {
  color: black;
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}
.img-circle {
  border-radius: 50%;

}

p.profile-img-container {
  margin: 0;
}
